{% extends 'base.html' %}
{% load static %}
{% block titulo %}Cineverso - Filmes{% endblock titulo %}
{% block conteudo %}
<h1 class="pt-5 pb-5">Catálogo de filmes</h1>
<div style="display: flex; flex-direction: row; flex-wrap: wrap;">
    <img src="{% static 'cineverso/images/543967-the-fantastic-four-first-steps-0-1000-0-1500-crop.jpg' %}" class="d-block w-25" alt="Quarteto Fantástico" style="padding: 5px;">
    <img src="{% static 'cineverso/images/887653-thunderbolts-0-1000-0-1500-crop.jpg' %}" class="d-block w-25" alt="Thunderbolts" style="padding: 5px;">
    <img src="{% static 'cineverso/images/957050-superman-2025-0-1000-0-1500-crop.jpg' %}" class="d-block w-25" alt="Superman" style="padding: 5px;">
    <img src="{% static 'cineverso/images/980116-how-to-train-your-dragon-2025-0-1000-0-1500-crop.jpg' %}" class="d-block w-25" alt="Como Treinar o Seu Dragão" style="padding: 5px;">
    <img src="{% static 'cineverso/images/980116-how-to-train-your-dragon-2025-0-1000-0-1500-crop.jpg' %}" class="d-block w-25" alt="Como Treinar o Seu Dragão" style="padding: 5px;">

</div>
{% endblock conteudo%}